/*FadeIn animation to make page fade into view onload, same as index page.*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeText {
    0% { color: #150a1d; }
    50% { color: #381f4a; }
    100% { color:#8f31d2; }
}
/*All container that calls the fadeIn animation.*/
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
/*Makes all containers that have this class have a pointer cursor to look clickable.*/
.clickable {
    cursor: pointer;
}
/*Makes all containers that have this class have a normal cursor to not look clickable/highlightable.*/
.normal {
    cursor: default;
}
/*Purple background gradient.*/
.bg-gradient {
    background: linear-gradient(to right, #150a1d, #351b48);
}
/*Fixed logo in the top left, stays in that spot when page is scrolled.*/
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: "Brush Script MT"; 
    background-color: transparent;
    cursor: pointer;
}
/*Tutorial button in top right, expands when hovered.*/
#buttonTutorial {
    font-weight: bold;
    color: #150a1d;
    transition: 0.3s;
}
/*Hover transformation.*/
#buttonTutorial:hover {
    transform: scale(1.07);
}
/*Blurs background when tutorial button is clicked.*/
.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(10px);
}
.images {
    margin: auto;
}
/*Modal content background and text.*/
.modal-content {
    background-color: #150a1d;
    color: #e3bbff;
}
/*X button in top right of modal.*/
button.close {
    color:white;
}
/*Turns white when hovered.*/
button.close:hover {
    color:white;
}
/*Button inside modal to start tutorial, expands when hovered*/
#myModalButton {
    width: 200px;
    transition: 0.3s;
}
/*Hover animation.*/
#myModalButton:hover {
    transform: scale(1.07);
}
.moreModalButtons {
    font-weight: bold;
    width: 200px;
    transition: 0.3s;
}
.moreModalButtons:hover {
    transform: scale(1.07);
}
/*Style of navbar when navbar button is clicked.*/
#collapse {
    margin-left: 50px;
    background-color:#150a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 35px;
}
/*Underline animation for links in navbar.*/
.navTitles {
    text-decoration: underline #150a1d;
    transition: text-decoration 1s;
}
/*Hover animation.*/
.navTitles:hover {
    text-decoration-color: white;
}
/*Navbar button that opens navbar when clicked, expands when hovered.*/
#navicon {
    transition: 0.3s;
}
/*Hover animation.*/
#navicon:hover {
    transform: scale(1.1);
}
/*About me title header, has border animation when hovered.*/
#titleHeader2 {
    text-align: left;
    font-size: 100px;
    color:#e3bbff;
}
#titleImg {
    position: relative;
    left: 530px;
    bottom: 95px;
    width: 27%;
    height: 27%;
    border:6px solid rgb(255, 224, 181);
}
/*About me title description container, has border animation for headings when hovered, expands when hovered.*/
#titleDesc {
    position: relative;
    right: 330px;
    bottom: 475px;
    width: 450px;
    height: 270px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#titleDesc:hover {
    transform: scale(1.07);
}
/*Titles class for all headings in titleDesc.*/
.titles {
    position: relative;
    bottom: 20px;
    margin-top: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color:#e3bbff;
}
#aboutMeSlideshow {
    position: relative;
    right: 330px;
    bottom: 390px;
    width: 450px;
    height: 70px;
    text-align: center;
    background-color: #2b153a;
    border: 4px solid rgb(79, 0, 98);
    transition: 0.3s;
}
#aboutMeSlideshow:hover {
    transform: scale(1.07);
}
#slideshowHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color:#e3bbff;
}
#oinwicon {
    position: relative;
    bottom: 12px;
    left: 59px;
    height: 40px;
    width: 40px;
}
.content {
    position: relative;
    bottom: 300px;
    margin-left: 17px;
}
.buttons {
    background-color: #e3bbff;
    transition: 0.3s;
}
.buttons:hover {
    transform: scale(1.07);
    background-color: #e3bbff;
    animation: fadeText 0.8s ease;
    color: #8f31d2 !important;
}
#vertLine {
    height: 640px;
    width: 7px;
    color: #e3bbff;;
    border: 7px solid #e3bbff;
    position: absolute;
    bottom: 300px;
    left: 95px;
}
#horizLine {
    height: 5px;
    width: 1105px;
    color: #e3bbff;;
    border: 5px solid #e3bbff;
    position: absolute;
    bottom: 317px;
    right: 1px;
}
#person {
    width: 450px;
    height: 270px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#person:hover {
    transform: scale(1.07);
}
#personHeader {
    position: relative;
    bottom: 13px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color:#e3bbff;
}
#personButton {
    font-weight: bold;
    font-size: 20px;
    height: 160px;
    width: 100px;
    color: #150a1d;
    position: relative;
    top: 50px;
    left: 90px;
}
#school {
    width: 450px;
    height: 270px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#school:hover {
    transform: scale(1.07);
}
#schoolHeader {
    position: relative;
    bottom: 12px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color:#e3bbff;
}
#schoolButton {
    font-weight: bold;
    font-size: 20px;
    height: 160px;
    width: 100px;
    color: #150a1d;
    position: relative;
    top: 50px;
    left: 65px;
}
#hobbies {
    margin-top: 100px;
    width: 450px;
    height: 270px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#hobbies:hover {
    transform: scale(1.07);
}
#hobbiesHeader {
    position: relative;
    bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color:#e3bbff;
}
#hobbiesButton {
    font-weight: bold;
    font-size: 20px;
    height: 160px;
    width: 100px;
    color: #150a1d;
    position: relative;
    top: 50px;
    left: 48px;
}
#more {
    margin-top: 100px;
    width: 450px;
    height: 270px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#more:hover {
    transform: scale(1.07);
}
#moreHeader {
    margin-top: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color:#e3bbff;
}
#moreButton {
    position: relative;
    top: 50px;
    left: 75px;
}
.moreBoxes {
    width: 200px;
    height: 50px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
.moreBoxes:hover {
    transform: scale(1.1);
}
.boxHeaders {
    line-height: 40px;
    font-size: 18px;
    color:#e3bbff;
}
.moreoinwicons {
    position: relative;
    left: 85px;
    bottom: 85px;
    height: 20px;
    width: 20px;
}
#contactContent {
    display: inline-block;
    position: relative;
    bottom: 220px;
}
#contactContentHeader {
    display: inline-block;
    font-size: 35px;
    color:#e3bbff;
}
#contact {
    display: inline-block;
    position: relative;
    bottom: 14px;
    left: 40px;
    width: 250px;
    height: 80px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#contact:hover {
    transform: scale(1.07);
}
#contactHeader {
    margin-top: 25px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
    line-height: 15px;
    font-size: 25px;
    color:#e3bbff;
}
#contactoinwicon {
    position: relative;
    left: 18px;
    bottom: 11px;
    height: 25px;
    width: 25px;    
}
/*About me footer.*/
.bottom {
    position: relative;
    top: -170px;
}
/*Header of footer, my name.*/
#footerHeader {
    text-align: left;
    font-size: 30px;
    color:#e3bbff;
}
/*Description of footer, profession and email.*/
#footerDesc {
    display: inline;
    text-align: left;
    font-size: 20px;
    color:#e3bbff;
}
#footer .content p {
    margin-bottom: 0px;
}
/*GitHub button that contains link, expands when hovered.*/
#github {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*LinkedIn button that contains link, expands when hovered.*/
#linkedin {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Discord button that contains link, expands when hovered.*/
#discord {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Footer line separating content from copyright claim.*/
#line {
    height: 5px;
    width: 1110px;
    border: 3px solid #e3bbff;
    position: absolute;
    top: 90px;
}
/*Copyright claim in footer.*/
#copyright {
    color: rgb(152, 152, 152);
    font-size: 10px;
    position: relative;
    top: 35px;
}
/*Spinner that appears in the middle of screen when a button that contains a link is clicked, hidden otherwise.*/
#spinner {
    display: none;
    position: fixed;
    bottom: 35%;
    left: 42%;
    height: 250px;
    width: 250px;
    border-width: 15px;
}