/*FadeIn animation to make page fade into view onload.*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeText {
    0% { color: #0e0a1d; }
    50% { color: #281f4a; }
    100% { color: #3931d2; }
}
/*Container containing all elements, calls fadeIn animation.*/
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
/*Makes all containers that have this class have a pointer cursor to look clickable.*/
.clickable {
    cursor: pointer;
}
/*Makes all containers that have this class have a normal cursor to not look clickable/highlightable.*/
.normal {
    cursor: default;
}
/*Purple background gradient.*/
.bg-gradient {
    background: linear-gradient(to right, #0e0b1f, #1f1b48);
}
/*Fixed logo in top left, stays in same spot when page is scrolled.*/
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: "Brush Script MT"; 
    background-color: transparent;
    cursor: pointer;
}
.buttons {
    background-color: #c1b6ff !important;
    transition: 0.3s;
}
.buttons:hover {
    transform: scale(1.07);
    background-color: #c1b6ff;
    animation: fadeText 0.8s ease;
    background-color: #c1b6ff;
    color: #3931d2 !important;
}
.buttons:active {
    background-color: #c1b6ff;
}
/*Welcome button in top right, expands when hovered.*/
#buttonWelcome {
    font-weight: bold;
    color: #0e0a1d;
    transition: 0.3s;
}
/*Hover animation.*/
#buttonWelcome:hover {
    transform: scale(1.07);
}
/*Blurs background when welcome button is clicked.*/
.modal-open .all {
    -webkit-filter: blur(10px);
}
/*Modal content background and text.*/
.modal-content {
    background-color: #0e0a1d;
    color: #c1b6ff;
}
/*X button in top right of modal.*/
button.close {
    color:white;
}
/*Hover animation.*/
button.close:hover {
    color:white;
}
/*Button inside modal that starts welcome, expands when hovered.*/
#myModalButton {
    width: 200px;
    transition: 0.3s;
}
/*Hover animation.*/
#myModalButton:hover {
    transform: scale(1.07);
}
/*Style of navbar when navbar button is clicked.*/
#collapse {
    margin-left: 50px;
    background-color: #0e0a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 33px;
}
/*Navbar button that opens navbar when clicked, expands when hovered.*/
#navicon {
    transition: 0.3s;
}
/*Hover animation.*/
#navicon:hover {
    transform: scale(1.1);
}
/*Underline animation for links in navbar.*/
.navTitles {
    text-decoration: underline #0e0a1d;
    transition: text-decoration 1s;
}
/*Hover animation.*/ 
.navTitles:hover {
    text-decoration-color: white;
}
/*Profile card on left of screen, defined with image, header, body, and footer.*/
#profileCard {
    background-color: #0e0a1d;
    border: 4px solid rgb(255, 224, 181);
    color: rgb(255, 224, 181);
    text-align: center;
    width: 310px;
}
/*Profile header with border.*/
#profileHeader {
    border:2px solid rgb(255, 224, 181);
}
/*Profile body with border.*/
#profileBody {
    border:2px solid rgb(255, 224, 181);
}
#profileText {
    font-size: 20px;
}
/*Profile footer with border.*/
#profileFooter {
    border: 2px solid rgb(255, 224, 181);
}
/*Profile button in footer that opens about me page when clicked, expands when hovered.*/
#profileButton {
    background-color: rgb(255, 224, 181);
    color: #0e0a1d;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#profileButton:hover {
    transform: scale(1.07);
}
/*Bio container below profile card, matches profile card with styles.*/
#bio {
    margin-left: 0px;
    width: 309px;
    height: 168px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(255, 224, 181);
}
/*Bio header in bio.*/
#bioHeader {
    margin-top: 17px;
    line-height: normal;
    font-size: 14px;
    color:rgb(255, 224, 181);
}
/*GCU image in bio.*/
#scc {
    width: 55%;
    height: 55%;
    margin-top: 10px;
}
/*Home title header at top.*/
#titleHeader1 {
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 100px;
    color: #c1b6ff;
}
/*Class of all sub-titles underneath the titleHeader.*/
#subTitles {
    line-height: 2;
    text-align: center;
    font-size: 24px;
    color: #c1b6ff;
}
/*About me container below titles, expands when hovered.*/
#aboutMe {
    margin-bottom: 230px;
    width: 350px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#aboutMe:hover {
    transform: scale(1.07);
}
/*Header in about me container.*/
#aboutMeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Open in new window icon to indicate the container's clickability.*/
#oinwicon {
    position: relative;
    left: 25px;
    bottom: 25px;
    height: 40px;
    width: 40px;
}
/*Portfolio container to the right of about me and skills containers, expands when hovered.*/
#portfolio {
    margin-top: 70px;
    margin-left: 70px;
    width: 400px;
    height: 400px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
#carousel {
    margin-top: 30px;
}
.carouselItems {
    width: 80%;
    border: 3px solid rgb(255, 224, 181);
}
#carouselItem2 {
    width: 70%;
    margin-left: 45px;
}
#carousel2 {
    margin-top: -5px;
}
.carouselItems2 {
    width: 40%;
    border: 2px solid rgb(255, 224, 181);
}
#carouselItem4 {
    width: 60%;
    margin-left: 64px;
}
#carouselItem6 {
    width: 60%;
    margin-left: 63px;
}

/*Hover animation.*/
#portfolio:hover {
    transform: scale(1.07);
}
/*Header in portfolio container.*/
#portfolioHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in portfolio container navigating to portfolio page when clicked, expands when hovered.*/
#portfolioButton {
    font-weight: bold;
    color: #0e0a1d;
    height: 50px;
    width: 130px;
    transition: 0.3s;
}
/*Hover animation.*/
#portfolioButton:hover {
    transform: scale(1.07);
}
/*Skills container below the about me container, expands when hovered.*/
#skills {
    position: relative;
    bottom: 384px;
    left: 366px;
    width: 308px;
    height: 228px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#skills:hover {
    transform: scale(1.07);
}
/*Header in skills container.*/
#skillsHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*First box in skills container navigating to languages section of skills page when clicked, expands when hovered.*/
#skillBox {
    width: 120px;
    height: 130px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
    position: relative;
    right: 70px;
    bottom: 13px;
}
/*Hover animation.*/
#skillBox:hover {
    transform:scale(1.1);
}
#skillBoxHeader {
    height: 0px;
}
#skillButton {
    width: 70px;
    height: 100px;
    font-weight: bold;
    color: #0e0a1d;
    position: relative;
    bottom: 130px;
    left: 75px;
    transition: 0.3s;
}
/*Properties of box containers in skills container.*/
.boxHeaders {
    line-height: normal;
    font-size: 18px;
    color: #c1b6ff;
}
/*Experience container located below the bio container containing programming languages, expands when hovered.*/
#experience {
    position: relative;
    bottom: 160px;
    width: 309px;
    height: 200px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#experience:hover {
    transform: scale(1.07);
}
/*Header in experience container.*/
#experienceHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in experience container, expands when hovered.*/
#experienceButton {
    height: 50px;
    width: 110px;
    font-weight: bold;
    color: #0e0a1d;
    position: relative;
    bottom: 14px;
    left: 25px;
    transition: 0.3s;
}
/*Hover animation.*/
#experienceButton:hover {
    transform: scale(1.1);
}
/*Contact container below the skills container, expands when hovered.*/
#contactBox {
    position: relative;
    top: 90px;
    width: 309px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#contactBox:hover {
    transform: scale(1.07);
}
/*Header in contact container.*/
#contactHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 35px;
    color: #c1b6ff;
}
/*Open in new window icon in top right of contact container indicating its clickability.*/
#oinwicon2 {
    position: relative;
    bottom: 27px;
    left: 29px;
    height: 36px;
    width: 36px;
}
/*My life container below the portfolio container, expands when hovered.*/
#myLife {
    position: relative;
    bottom: 112px;
    left: 13px;
    width: 351px;
    height: 200px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#myLife:hover {
    transform: scale(1.07);
}
/*Header in my life container.*/
#myLifeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in my life container, expands when clicked.*/
#myLifeButton {
    height: 50px;
    width: 100px;
    font-weight: bold;
    color: #0e0a1d;
    transition: 0.3s;
}
/*Hover animation.*/
#myLifeButton:hover {
    transform: scale(1.1);
}
/*About me footer.*/
.bottom {
    position: relative;
    top: -80px;
    bottom: 150px;
}
/*Header of footer, my name.*/
#footerHeader {
    text-align: left;
    font-size: 30px;
    color: #c1b6ff;
}
/*Description of footer, profession and email.*/
#footerDesc {
    display: inline;
    text-align: left;
    font-size: 20px;
    color: #c1b6ff;
}
#resume {
    width: 85px;
    height: 50px;
    position: relative;
    left: 272px;
    bottom: 10px;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
#resume:hover {
    transform: scale(1.05);
}
#contact {
    width: 85px;
    height: 50px;
    position: relative;
    left: 273px;
    bottom: 10px;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
#contact:hover {
    transform: scale(1.05);
}
/*GitHub button that contains link, expands when hovered.*/
#github {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*LinkedIn button that contains link, expands when hovered.*/
#linkedin {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Discord button that contains link, expands when hovered.*/
#discord {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Footer line separating content from copyright claim.*/
#line {
    height: 5px;
    width: 1110px;
    border: 3px solid #c1b6ff;
    position: absolute;
    top: 90px;
}
/*Copyright claim in footer.*/
#copyright {
    color: rgb(152, 152, 152);
    font-size: 10px;
    position: relative;
    top: 15px;
}
/*Spinner that appears in the middle of screen when a button that contains a link is clicked, hidden otherwise.*/
#spinner {
    display: none;
    position: fixed;
    bottom: 35%;
    left: 42%;
    height: 250px;
    width: 250px;
    border-width: 15px;
}