/*FadeIn animation to make page fade into view onload.*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/*FadeText animation to gradually change the color of text, used in buttons.*/
@keyframes fadeText {
    0% { color: #0e0a1d; }
    50% { color: #281f4a; }
    100% { color: #3931d2; }
}
/*Fixes overflowing elements that I couldn't figure out how to fix.*/
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*Fixes overflowing elements that I couldn't figure out how to fix.*/
body {
    overflow: visible !important;
}
/*Navbar modifications fixated at the top, disappears when clicked to open.*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(12, 0, 44);
}
/*All container that calls the fadeIn animation.*/
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
/*Makes all containers that have this class have a pointer cursor to look clickable.*/
.clickable {
    cursor: pointer;
}
/*Makes all containers that have this class have a normal cursor to not look clickable/highlightable.*/
.normal {
    cursor: default;
}
/*Dark blue background gradient.*/
.bg-gradient {
    background: linear-gradient(to right, #0e0b1f, #1f1b48);
}
/*Blurs background when modals are opened (keep for all CSS files).*/
.modal-open .all {
    -webkit-filter: blur(10px);
}
/*Fixed logo in top left, stays in same spot when page is scrolled.*/
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: 'Brush Script MT', 'brush-script-mt', sans-serif; 
    background-color: transparent;
    cursor: pointer;
}
/*Buttons customizer consisting of buttonWelcome, portfolioButton, skillButton, experienceButton, and myLifeButton.*/
.buttons {
    background-color: #c1b6ff !important;
    transition: 0.3s;
}
/*Hover animation.*/
.buttons:hover {
    transform: scale(1.07);
    background-color: #c1b6ff;
    animation: fadeText 0.8s ease;
    background-color: #c1b6ff;
    color: #3931d2 !important;
}
/*Active animation.*/
.buttons:active {
    background-color: #c1b6ff;
}
/*Welcome button in top right, expands when hovered.*/
#buttonWelcome {
    font-weight: bold;
    color: #0e0a1d;
    transition: 0.3s;
}
/*Hover animation.*/
#buttonWelcome:hover {
    transform: scale(1.07);
}
/*Blurs background when welcome button is clicked.*/
.modal-open .all {
    -webkit-filter: blur(10px);
}
/*Modal content background and text.*/
.modal-content {
    background-color: #0e0a1d;
    color: #c1b6ff;
}
/*X button in top right of modal.*/
button.close {
    color:white;
}
/*Hover animation.*/
button.close:hover {
    color:white;
}
/*Button inside modal that closes welcome modal.*/
#myModalButton {
    font-weight: bold;
    width: 200px;
    transition: 0.3s;
}
/*Hover animation.*/
#myModalButton:hover {
    transform: scale(1.07);
}
/*Style of navbar when navbar button is clicked.*/
#navCollapse {
    text-align: center;
    background-color: #0e0a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 27px;
}
/*Navbar button that opens navbar when clicked, expands when hovered.*/
#navicon {
    transition: 0.3s;
}
/*Hover animation.*/
#navicon:hover {
    transform: scale(1.1);
}
/*Underline animation for links in navbar.*/
.navTitles {
    text-decoration: underline #0e0a1d;
    transition: text-decoration 1s;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white !important;
}
/*Hover animation.*/ 
.navTitles:hover {
    text-decoration-color: white;
}
/*Profile card on left of screen, defined with image, header, body, and footer.*/
#profileCard {
    margin: auto;
    margin-top: 5rem;
    background-color: #0e0a1d;
    border: 4px solid rgb(255, 224, 181);
    color: rgb(255, 224, 181);
    text-align: center;
    width: 309px;
}
/*Profile header with border.*/
#profileHeader {
    border:2px solid rgb(255, 224, 181);
}
/*Profile body with border.*/
#profileBody {
    border:2px solid rgb(255, 224, 181);
}
#profileText {
    font-size: 20px;
}
/*Profile footer with border.*/
#profileFooter {
    border: 2px solid rgb(255, 224, 181);
}
/*Profile button in footer that opens about me page when clicked, expands when hovered.*/
#profileButton {
    background-color: rgb(255, 224, 181);
    color: #0e0a1d;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#profileButton:hover {
    transform: scale(1.07);
}
/*Bio container below profile card, matches profile card with styles.*/
#bio {
    width: 309px;
    height: 168px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(255, 224, 181);
}
/*Bio header in bio.*/
#bioHeader {
    margin-top: 17px;
    line-height: normal;
    font-size: 14px;
    color:rgb(255, 224, 181);
}
/*SCC image in bio.*/
#scc {
    width: 55%;
    height: 55%;
    margin-top: 10px;
}
/*Home title header at top.*/
#titleHeader1 {
    margin-top: 4rem;
    width: 90%;
    margin-left: 5%;
    text-align: center;
    font-size: 100px;
    color: #c1b6ff;
}
/*All 3 subheaders below title header.*/
#subTitles {
    margin-bottom: 3rem;
    line-height: 2;
    text-align: center;
    font-size: 24px;
    color: #c1b6ff;
}
/*About me container with external link, expands when hovered.*/
#aboutMe {
    width: 308px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#aboutMe:hover {
    transform: scale(1.07);
}
/*Header in about me container.*/
#aboutMeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Open in new window icon to indicate the container's clickability.*/
#oinwicon {
    position: relative;
    left: 25px;
    bottom: 25px;
    height: 40px;
    width: 40px;
}
/*Portfolio container to the right of about me and skills containers, expands when hovered.*/
#portfolio {
    width: 351px;
    height: 400px;
    margin-left: 2rem;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#portfolio:hover {
    transform: scale(1.07);
}
#portfolioButton {
    margin-top: 10px;
}
/*Carousel inside of portfolio container, scrolls through slides.*/
#carousel {
    margin-top: 30px;
}
/*Each of the items part of the carousel, contains a border.*/
.carouselItems {
    width: 80%;
    text-align: center;
    border: 3px solid rgb(255, 224, 181);
}
#carouselImage3 {
    width: 70%;
}
#carouselImage4 {
    width: 60%;
}
#carouselImage5 {
    width: 50%;
}
#carouselImage6 {
    width: 60%;
}
/*Header in portfolio container.*/
#portfolioHeader {
    margin-top: 1rem;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in portfolio container navigating to portfolio page when clicked, expands when hovered.*/
#portfolioButton {
    font-weight: bold;
    color: #0e0a1d;
    height: 50px;
    width: 130px;
    transition: 0.3s;
}
/*Hover animation.*/
#portfolioButton:hover {
    transform: scale(1.07);
}
/*Skills container below the about me container, expands when hovered.*/
#skills {
    margin-top: 4.6rem;
    width: 308px;
    height: 228px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#skills:hover {
    transform: scale(1.07);
}
/*Header in skills container.*/
#skillsHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Box showing the 3 different sections of skills, expands when hovered.*/
#skillBox {
    width: 120px;
    height: 130px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
    position: relative;
    right: 70px;
    bottom: 13px;
}
/*Hover animation.*/
#skillBox:hover {
    transform:scale(1.1);
}
/*Text inside the skill box showing languages, technical, and general.*/
#skillBoxHeader {
    height: 0px;
    line-height: normal;
    font-size: 18px;
    color: #c1b6ff;
}
/*Button inside skills container.*/
#skillButton {
    width: 70px;
    height: 100px;
    font-weight: bold;
    color: #0e0a1d;
    position: relative;
    bottom: 130px;
    left: 75px;
    transition: 0.3s;
}
/*Experience container located below the skills container, expands when hovered.*/
#experience {
    width: 309px;
    height: 200px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#experience:hover {
    transform: scale(1.07);
}
/*Header in experience container.*/
#experienceHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in experience container, expands when hovered.*/
#experienceButton {
    height: 50px;
    width: 110px;
    font-weight: bold;
    color: #0e0a1d;
    position: relative;
    bottom: 14px;
    left: 25px;
    transition: 0.3s;
}
/*Hover animation.*/
#experienceButton:hover {
    transform: scale(1.1);
}
/*Contact container below the bio container, expands when hovered.*/
#contactBox {
    margin-top: 6rem;
    width: 309px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#contactBox:hover {
    transform: scale(1.07);
}
/*Header in contact container.*/
#contactHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 35px;
    color: #c1b6ff;
}
/*Open in new window icon in top right of contact container indicating its clickability.*/
#oinwicon2 {
    position: relative;
    bottom: 27px;
    left: 29px;
    height: 36px;
    width: 36px;
}
/*My life container below the portfolio container, expands when hovered.*/
#myLife {
    margin-left: 2rem;
    width: 351px;
    height: 200px;
    line-height: 90px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#myLife:hover {
    transform: scale(1.07);
}
/*Header in my life container.*/
#myLifeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color: #c1b6ff;
}
/*Button in my life container, expands when clicked.*/
#myLifeButton {
    height: 50px;
    width: 100px;
    font-weight: bold;
    color: #0e0a1d;
    transition: 0.3s;
}
/*Hover animation.*/
#myLifeButton:hover {
    transform: scale(1.1);
}
/*Carousel inside of my life container, scrolls through slides.*/
#carousel2 {
    margin-top: -5px;
}
/*Each of the items part of the carousel, contains a border.*/
.carouselItems2 {
    width: 20%;
    border: 2px solid rgb(255, 224, 181);
}
#carouselImage7 {
    width: 23%;
}
#carouselImage8 {
    width: 40%;
}
#carouselImage9 {
    width: 23%;
}
/*Full footer at bottom.*/
.bottom {
    margin-top: 5rem;
    width: 100%;
    max-width: 1200px;
}
/*Header of footer, my name.*/
#footerHeader {
    font-size: 30px;
    color: #c1b6ff;
}
/*Description of footer, profession and email.*/
#footerDesc {
    display: inline;
    font-size: 20px;
    color: #c1b6ff;
}
/*All 5 footer buttons.*/
.footerButtons {
    float: right;
    margin-top: -1.5rem;
}
/*Resume button that accesses resume page.*/
#resume {
    margin-right: 0.3rem;
    width: 85px;
    height: 50px;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#resume:hover {
    transform: scale(1.05);
}
/*Contact button that accesses contact page.*/
#contact {
    margin-right: 0.3rem;
    width: 85px;
    height: 50px;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#contact:hover {
    transform: scale(1.05);
}
/*GitHub button that contains link, expands when hovered.*/
#github {
    display: inline;
    margin-right: 0.3rem;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*LinkedIn button that contains link, expands when hovered.*/
#linkedin {
    display: inline;
    margin-right: 0.3rem;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Discord button that contains link, expands when hovered.*/
#discord {
    display: inline;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Copyright claim in footer.*/
#copyright {
    width: 100%;
    border-top: 5px solid #c1b6ff;
    padding-top: 15px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: rgb(152, 152, 152);
    font-size: 10px;
}
/*Spinner that appears in the middle of screen when a button that contains a link is clicked, hidden otherwise.*/
#spinner {
    display: none;
    position: fixed;
    inset: 0;
    margin: auto;
    height: 250px;
    width: 250px;
    border-width: 15px;
}

/*Exclusive modifications to elements for screen width 992-1200.5 px.*/
@media (min-width: 992px) and (max-width: 1200.5px) {
    .navTitles {
        padding: 1.5rem;
    }
    #profileCard {
        margin-left: 2rem;
    }
    #bio {
        margin-left: 2rem;
    }
    #skills {
        margin-top: 4rem;
    }
    #portfolio {
        margin: auto;
        margin-top: 4rem;
    }
    #contactExperienceLifeRow {
        margin-top: 4rem;
    }
    #contactBox {
        width: 80%;
        height: 65%;
        margin-top: 0rem;
        margin-left: -0.5rem;
        
    }
    #contactHeader {
        margin-top: 1rem;
    }
    #oinwicon2 {
        position: relative;
        bottom: 145px;
        left: 90px;
        height: 36px;
        width: 36px;
    }
    #experience {
        width: 90%;
        margin-left: -3rem;
    }
    #myLife {
        margin-left: -3rem;
    }
    #myLifeHeader {
        display: block;
        text-align: left;
    }
    #myLifeButton {
        float: right;
        margin-top: -55px;
    }
    .carouselItems2 {
        margin-top: 15px;
    }
    #carouselImage7 {
        width: 30%;
    }
    #carouselImage8 {
        width: 50%;
    }
    #carouselImage9 {
        width: 30%;
    }
    .bottom {
        margin-top: 3rem;
        max-width: 992px;
    }
}
/*Exclusive modifications to elements for screen width 768-991.5 px.*/
@media (min-width: 768px) and (max-width: 991.5px) {
    .navTitles {
        padding: 1.5rem;
    }
    #titleHeader1 {
        font-size: 80px;
    }
    #subTitles {
        font-size: 20px;
    }
    #skills {
        margin-top: 3rem;
    }
    #portfolio {
        margin: auto;
        margin-left: -1rem;
        margin-top: 4rem;
    }
    #contactBox {
        margin-top: 7rem;
    }
    #experience {
        margin-top: 4rem;
    }
    #myLife {
        margin: auto;
        margin-top: 4rem;
    }
    #footerHeader {
        font-size: 25px;
    }
    #footerDesc {
        font-size: 16px;
    }
    #resume {
        height: 40px;
        width: 70px;
        padding-left: 4px;
    }
    #contact {
        height: 40px;
        width: 70px;
        padding-left: 4px;
    }
    #github {
        height: 40px;
        width: 40px;
    }
    #linkedin {
        height: 40px;
        width: 40px;
    }
    #discord {
        height: 40px;
        width: 40px;
    }
    .footerButtons {
        margin-top: -1rem;
    }
}
/*Exclusive nav title modifications for screens 830 px or less.*/
@media (max-width: 830px) {
    .navTitles {
        padding: 0rem;
    }
}
/*Exclusive modifications to elements for screen width 767.5 px or less.*/
@media (max-width: 767.5px) {
    #titleHeader1 {
        font-size: 70px;
        margin-top: 3rem;
    }
    #subTitles {
        font-size: 18px;
    }
    #skills {
        margin-top: 3rem;
    }
    #portfolio {
        margin: auto;
        margin-top: 3rem;
    }
    #contactBox {
        margin-top: 3rem;
    }
    #experience {
        margin-top: 3rem;
    }
    #myLife {
        margin: auto;
        margin-top: 3rem;
    }
    #footerDesc {
        display: block;
        font-size: 20px;
        color: #c1b6ff;
    }
    .footerButtons {
        display: inline;
        float: none;
        margin: auto;
    }
    #resume {
        margin-right: 0rem;
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #contact {
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #github {
        height: 40px;
        width: 40px;
    }
    #linkedin {
        height: 40px;
        width: 40px;
    }
    #discord {
        margin-right: 0.3rem;
        height: 40px;
        width: 40px;
    }
    #copyright {
        width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
}
/*Exclusive nav title modifications for screens 685 px or less.*/
@media (max-width: 685px) {
    .navTitles {
        padding: 6.5rem;
    }
}
/*Exclusive nav title modifications for screens 480 px or less.*/
@media (max-width: 480px) {
    .navTitles {
        padding: 2.2rem;
    }
}
/*Exclusive nav title modifications for screens 380 px or less.*/
@media (max-width: 380px) {
    #myLifeHeader {
        float: left;
    }
    #myLifeButton {
        width: 90px;
        float: right;
        margin-top: 5px;
    }
    .carouselItems2 {
        margin-top: 20px;
    }
    #carouselImage4 {
        width: 60%;
        margin-left: 0px;
    }
    #carouselImage6 {
        width: 60%;
        margin-left: 0px;
    }
}
/*Exclusive nav title modifications for screens 360 px or less.*/
@media (max-width: 360px) {
    .navTitles {
        padding: 0rem;
    }
    #profileCard {
        width: 100%;
    }
}
/*Exclusive nav title modifications for screens 340 px or less.*/
@media (max-width: 340px) {
    #oinwicon {
        left: 20px;
    }
    #oinwicon2 {
        left: 20px;
    }
}