@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
.clickable {
    cursor: pointer;
}
.normal {
    cursor: default;
}
.bg-gradient {
    background: linear-gradient(to right, #150a1d, #351b48);
}
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: "Brush Script MT"; 
    background-color: transparent;
    cursor: pointer;
}
#buttonTutorial {
    transition: 0.3s;
}
#buttonTutorial:hover {
    transform: scale(1.07);
}
.modal-open .container-fluid, .modal-open  .container {
    -webkit-filter: blur(10px);
}
.modal-content {
    background-color:rgb(62, 62, 62);
    color: white;
}
button.close {
    color:white;
}
button.close:hover {
    color:white;
}
#myModalButton {
    width: 200px;
    transition: 0.3s;
}
#myModalButton:hover {
    transform: scale(1.07);
}
img#profile {
    width: 300px;
    height: 300px;
}
#collapse {
    background-color:#150a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 35px;
}
#navicon {
    transition: 0.3s;
}
#navicon:hover {
    transform: scale(1.1);
}
.navTitles {
    text-decoration: underline #150a1d;
    transition: text-decoration 1s;
  }
  
.navTitles:hover {
    text-decoration-color: white;
}
#profileCard {
    width: 308px;
    background-color: black;
    border: 4px solid rgb(255, 224, 181);
    color: rgb(255, 224, 181);
    text-align: center;
}
#profileHeader {
    border:2px solid rgb(255, 224, 181);
}
#profileBody {
    border:2px solid rgb(255, 224, 181);
}
#profileFooter {
    border: 2px solid rgb(255, 224, 181);
}
#profileButton {
    color: rgb(255, 224, 181);
    transition: 0.3s;
}
#profileButton:hover {
    transform: scale(1.07);
}
#bio {
    margin-left: 0px;
    width: 309px;
    height: 168px;
    line-height: 90px;
    text-align: center;
    background-color: black;
    border: 4px solid rgb(255, 224, 181);
}
#bioHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 20px;
    color:rgb(255, 224, 181);
}
img#gcu {
    width: 75px;
    height: 75px;
}
#titleHeader {
    text-align: center;
    font-size: 100px;
    color:#e3bbff;
}
.titles {
    text-align: center;
    font-size: 25px;
    color:#e3bbff;
}
#aboutMe {
    margin-bottom: 230px;
    width: 350px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#aboutMe:hover {
    transform: scale(1.07);
}
#aboutMeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color:#e3bbff;
}
img#oinwicon {
    position: relative;
    left: 25px;
    bottom: 25px;
    height: 40px;
    width: 40px;
}
#portfolio {
    margin-top: 70px;
    margin-left: 70px;
    width: 400px;
    height: 400px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#portfolio:hover {
    transform: scale(1.07);
}
#portfolioHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color:#e3bbff;
}
#portfolioButton {
    height: 50px;
    width: 130px;
    transition: 0.3s;
}
#portfolioButton:hover {
    transform: scale(1.07);
}
#skills {
    position: relative;
    bottom: 476px;
    left: 366px;
    width: 308px;
    height: 228px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#skills:hover {
    transform: scale(1.07);
}
#skillsHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color:#e3bbff;
}
#skillBox1 {
    width: 150px;
    height: 40px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#skillBox1:hover {
    transform:scale(1.1);
}
#skillBox2 {
    width: 150px;
    height: 40px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#skillBox2:hover {
    transform:scale(1.1);
}
#skillBox3 {
    width: 150px;
    height: 40px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#skillBox3:hover {
    transform:scale(1.1);
}
.boxHeaders {
    line-height: normal;
    font-size: 18px;
    color:#e3bbff;
}
.skilloinwicons {
    position: relative;
    left: 60px;
    bottom: 68px;
    height: 20px;
    width: 20px;
}
#experience {
    position: relative;
    right: 17px;
    width: 309px;
    height: 200px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#experience:hover {
    transform: scale(1.07);
}
#experienceHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color:#e3bbff;
}
img#chipotle {
    position: relative;
    bottom: 14px;
    width: 75px;
    height: 75px;
}
#experienceButton {
    position: relative;
    bottom: 14px;
    left: 35px;
    transition: 0.3s;
}
#experienceButton:hover {
    transform: scale(1.1);
}
#contact {
    position: relative;
    bottom: 200px;
    width: 309px;
    height: 100px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#contact:hover {
    transform: scale(1.07);
}
#contactHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 35px;
    color:#e3bbff;
}
img#oinwicon2 {
    position: relative;
    bottom: 27px;
    left: 22px;
    height: 36px;
    width: 36px;
}
#myLife {
    position: relative;
    bottom: 200px;
    left: 13px;
    width: 351px;
    height: 173px;
    line-height: 90px;
    text-align: center;
    background-color: #150a1d;
    border: 4px solid rgb(35, 0, 44);
    transition: 0.3s;
}
#myLife:hover {
    transform: scale(1.07);
}
#myLifeHeader {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 40px;
    color:#e3bbff;
}
#myLifeButton {

    transition: 0.3s;
}
#myLifeButton:hover {
    transform: scale(1.1);
}
#spinner {
    display: none;
    position: fixed;
    bottom: 35%;
    left: 42%;
    height: 250px;
    width: 250px;
    border-width: 15px;
}
.bottom {
    position: relative;
    bottom: 150px;
}
#footerHeader {
    text-align: left;
    font-size: 30px;
    color:#e3bbff;
}
#footerDesc {
    display: inline;
    text-align: left;
    font-size: 20px;
    color:#e3bbff;
}
#github {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
#linkedin {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
#discord {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
#line {
    height: 5px;
    width: 1110px;
    border: 3px solid #e3bbff;
    position: absolute;
    top: 90px;
}
#copyright {
    color: rgb(152, 152, 152);
    font-size: 10px;
    position: relative;
    top: 35px;
}
