/*FadeIn animation to make page fade into view onload, same as index page.*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeText {
    0% { color: #0e0a1d; }
    50% { color: #281f4a; }
    100% { color: #3931d2; }
}
/*All container that calls the fadeIn animation.*/
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
/*Makes all containers that have this class have a pointer cursor to look clickable.*/
.clickable {
    cursor: pointer;
}
/*Makes all containers that have this class have a normal cursor to not look clickable/highlightable.*/
.normal {
    cursor: default;
}
/*Purple background gradient.*/
.bg-gradient {
    background: linear-gradient(to right, #0e0b1f, #1f1b48);
}
/*Fixed logo in the top left, stays in that spot when page is scrolled.*/
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: "Brush Script MT"; 
    background-color: transparent;
    cursor: pointer;
}
.modal-open .all {
    -webkit-filter: blur(10px);
}
.images {
    margin: auto;
}
/*Modal content background and text.*/
.modal-content {
    background-color: #0e0a1d;
    color: #c1b6ff;
}
/*X button in top right of modal.*/
button.close {
    color:white;
}
/*Turns white when hovered.*/
button.close:hover {
    color:white;
}
#moreModalButton {
    font-weight: bold;
    width: 200px;
    transition: 0.3s;
}
#moreModalButton:hover {
    transform: scale(1.07);
}
/*Style of navbar when navbar button is clicked.*/
#collapse {
    margin-left: 50px;
    background-color: #0e0a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 35px;
}
/*Underline animation for links in navbar.*/
.navTitles {
    text-decoration: underline #0e0a1d;
    transition: text-decoration 1s;
}
/*Hover animation.*/
.navTitles:hover {
    text-decoration-color: white;
}
/*Navbar button that opens navbar when clicked, expands when hovered.*/
#navicon {
    transition: 0.3s;
}
/*Hover animation.*/
#navicon:hover {
    transform: scale(1.1);
}
/*About me title header, has border animation when hovered.*/
#titleHeader3 {
    width: 27%;
    margin-left: 32%;
    text-align: center;
    font-size: 100px;
    color: #c1b6ff;
}
#folder {
    position: relative;
    bottom: 160px;
    left: 80px;
    height: 200px;
    width: 200px;
}
#crown {
    position: relative;
    left: 625px;
    bottom: 165px;
    height: 200px;
    width: 200px;
}
.portfolioButtons {
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #1d1b4b !important;
    border: 4px solid rgb(18, 0, 98) !important;
    transition: 0.3s;
    margin-bottom: 60px;
    margin-top: -150px;
}
.portfolioButtons:hover {
    transform: scale(1.07);
    border: 4px solid rgb(13, 0, 201) !important;
}
#projectButton {
    position: relative;
    left: 80px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color: #c1b6ff;
}
#achievementButton {
    position: relative;
    left: 75px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 25px;
    color: #c1b6ff;
}
#moreButton {
    position: relative;
    left: 70px;
    display: inline-block;
    vertical-align: middle;
    line-height: 57px;
    font-size: 35px;
    color: #c1b6ff;
}
/*Projects section title.*/
#projectsTitle {
    vertical-align: middle;
    text-align: center;
    font-size: 60px;
    color: #c1b6ff;
}
.allProjects {
    position: relative;
    right: 15px;
    margin-top: 35px;
    width: 1110px;
    height: 200px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
.projectHeaders {
    font-size: 35px;
    line-height: 140px;
    color: #c1b6ff;
}
.projectTexts {
    color: #c1b6ff;
    font-size: 18px;
}
#project1 {
    margin-bottom: 60px;
}
#project1:hover {
    transform: scale(1.03);
}
#projectHeader1 {
    line-height: 110px !important;
    text-align: right;
    margin-right: 30px;
    font-size: 40px;
}
#project1Subheader {
    position: relative;
    color: #e4dfff;
    text-align: right;
    margin-right: 110px;
    bottom: 40px;
}
#project1Timeline {
    text-align: right;
    color: #e4dfff;
    font-size: 17px;
    margin-right: 10px;
    margin-top: -20px;
}
#project1More {
    text-align: center;
    transition: 0.3s;
    height: 50px;
    width: 110px;
    margin-left: 550px;
    margin-top: -55px;
    font-size: 15px;
    color: #c1b6ff;
    background-color: #1d1b4b !important;
    border: 4px solid rgb(18, 0, 98) !important;
}
#project1More:hover {
    transform: scale(1.07);
    border: 4px solid rgb(13, 0, 201) !important;
}
#project1Text {
    text-align: left;
    margin-left: 30px;
    margin-top: -160px;
}
#project1Image {
    width: 25%;
    border: 3px solid rgb(255, 224, 181);
    margin-top: -190px;
    margin-right: -80px; 
}
#project2 {
    margin-bottom: 60px;
}
#project2:hover {
    transform: scale(1.03);
}
#projectHeader2 {
    font-size: 32px;
    text-align: left;
    margin-left: 25px;
}
#project2Timeline {
    text-align: left;
    color: #e4dfff;
    font-size: 17px;
    margin-left: 130px;
    margin-top: -30px;
}
#project2Text {
    font-size: 17px;
    text-align: right;
    margin-right: 25px;
    margin-top: -120px;
}
#project2Image {
    width: 16%;
    border: 3px solid rgb(255, 224, 181);
    margin-top: -180px;
    margin-left: -70px;
}
#project3 {
    margin-left: 0px;
}
#project3:hover {
    transform: scale(1.03);
}
#projectHeader3 {
    text-align: right;
    font-size: 38px;
    margin-right: 30px;
}
#project3Timeline {
    text-align: right;
    color: #e4dfff;
    font-size: 17px;
    margin-right: 100px;
    margin-top: -30px;
}
#project3Text {
    margin-top: -135px;
    text-align: left;
    margin-left: 30px;
}
#line1 {
    position: relative;
    top: 70px;
    height: 7px;
    width: 1110px;
    border: 4px solid #c1b6ff;
    position: absolute; 
}
.allAchievements {
    justify-content: space-evenly;
    width: 430px;
    height: 210px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
.achievementHeaders {
    font-size: 25px;
    margin-top: 10px;
    color: #c1b6ff;
}
.achievementTexts {
    color: #c1b6ff;
    font-size: 16px;
}
#achievementsTitle {
    text-align: center;
    font-size: 50px;
    color: #c1b6ff;
}
#achievement1 {
    margin-top: 150px;
    margin-bottom: 35px;
    margin-left: 0px;
}
#achievement1:hover {
    transform: scale(1.07);
}
#achievementHeader1 {
    text-align: left;
    margin-left: 5px;
}
#awsLogo {
    width: 30%;
    float: right;
    margin-right: -15px;
    margin-top: -80px;
}
#achievement1Text {
    text-align: left;
    margin-left: 5px;
}
#certificationButton {
    text-align: center;
    background-color: #1d1b4b !important;
    border: 4px solid rgb(18, 0, 98) !important;
    transition: 0.3s;
    margin-left: 465px;
    margin-top: -300px;
    height: 70px;
    width: 110px;
    font-size: 15px;
    color: #c1b6ff;
}
#certificationButton:hover {
    transform: scale(1.07);
    border: 4px solid rgb(13, 0, 201) !important;
}
#certificationoinwicon {
    height: 18px;
    width: 18px;
    position: relative;
    left: 365px;
    bottom: 193px;
}
#achievement2 {
    margin-top: 150px;
    margin-bottom: 35px;
    margin-right: 0px;
}
#achievement2:hover {
    transform: scale(1.07);
}
#achievementHeader2 {
    text-align: right;
    margin-right: 5px;
}
#achievement2Text {
    text-align: right;
    margin-right: 5px;
    margin-top: 15px;
}
#achievement3 {
    margin-left: 0px;
    margin-top: 35px;
}
#achievement3:hover {
    transform: scale(1.07);
}
#achievementHeader3 {
    text-align: left;
    margin-left: 5px;
}
#achievement3Text {
    text-align: left;
    margin-left: 5px;
    margin-top: 15px;
}
#collegeBoardLogo {
    width: 40%;
    float: right;
    margin-right: 15px;
    margin-top: -200px;
}
#achievement4 {
    margin-right: 0px;
    margin-top: 35px;
}
#achievement4:hover {
    transform: scale(1.07);
}
#achievementHeader4 {
    text-align: right;
    margin-right: 5px;
}
#achievement4Text {
    text-align: right;
    margin-right: 5px;
}
#line2 {
    position: relative;
    top: 70px;
    height: 7px;
    width: 1110px;
    border: 4px solid #c1b6ff;
    position: absolute; 
}
.allMore {
    justify-content: space-evenly;
    width: 240px;
    height: 100px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
#moreTitle {
    margin-top: 40px;
    margin-left: 40px;
    text-align: center;
    font-size: 50px;
    color: #c1b6ff;
}
.moreHeaders {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    font-size: 25px;
    color: #c1b6ff;
}
#moreHeader1 {
    margin-left: 20px;
}
#moreHeader2 {
    margin-left: 25px;
}
#moreHeader3 {
    margin-left: 20px;
}
.oinwicons {
    height: 40px;
    width: 40px;
}
#oinwicon1 {
    position: relative;
    left: 26px;
    bottom: 24px;
}
#oinwicon2 {
    position: relative;
    left: 52px;
    bottom: 24px;
}
#oinwicon3 {
    position: relative;
    left: 22px;
    bottom: 24px;
}
#more1 {
    margin-top: 150px;
}
#more1:hover {
    transform: scale(1.07);
}
#more2 {
    margin-top: 20px;
    text-align: center;
}
#more2:hover {
    transform: scale(1.07);
}
#more3 {
    margin-top: 20px;
    margin-bottom: 150px;
}
#more3:hover {
    transform: scale(1.07);
}

/*About me footer.*/
.bottom {
    position: relative;
    top: -80px;
    bottom: 150px;
}
/*Header of footer, my name.*/
#footerHeader {
    text-align: left;
    font-size: 30px;
    color: #c1b6ff;
}
/*Description of footer, profession and email.*/
#footerDesc {
    display: inline;
    text-align: left;
    font-size: 20px;
    color: #c1b6ff;
}
#resume {
    width: 85px;
    height: 50px;
    position: relative;
    left: 272px;
    bottom: 10px;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
#resume:hover {
    transform: scale(1.05);
}
#contact {
    width: 85px;
    height: 50px;
    position: relative;
    left: 273px;
    bottom: 10px;
    text-align: center;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
#contact:hover {
    transform: scale(1.05);
}
/*GitHub button that contains link, expands when hovered.*/
#github {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*LinkedIn button that contains link, expands when hovered.*/
#linkedin {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Discord button that contains link, expands when hovered.*/
#discord {
    position: relative;
    bottom: 10px;
    display: inline;
    float: right;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Footer line separating content from copyright claim.*/
#line3 {
    height: 3px;
    width: 1110px;
    border: 3px solid #c1b6ff;
    position: absolute;
    top: 90px;
}
/*Copyright claim in footer.*/
#copyright {
    color: rgb(152, 152, 152);
    font-size: 10px;
    position: relative;
    top: 15px;
}
/*Spinner that appears in the middle of screen when a button that contains a link is clicked, hidden otherwise.*/
#spinner {
    display: none;
    position: fixed;
    bottom: 35%;
    left: 42%;
    height: 250px;
    width: 250px;
    border-width: 15px;
}