/*FadeIn animation to make page fade into view onload, same as index page.*/
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/*FadeText animation to gradually change the color of text, used in buttons.*/
@keyframes fadeText {
    0% { color: #0e0a1d; }
    50% { color: #281f4a; }
    100% { color: #3931d2; }
}
/*Navbar modifications fixated at the top, disappears when clicked to open.*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(12, 0, 44);
}
/*All container that calls the fadeIn animation.*/
.all {
    opacity: 0;
    animation: fadeIn 2s ease;
    opacity: 1;
}
/*Makes all containers that have this class have a pointer cursor to look clickable.*/
.clickable {
    cursor: pointer;
}
/*Makes all containers that have this class have a normal cursor to not look clickable/highlightable.*/
.normal {
    cursor: default;
}
/*Dark blue background gradient.*/
.bg-gradient {
    background: linear-gradient(to right, #0e0b1f, #1f1b48);
}
/*Blurs background when modals are opened (keep for all CSS files).*/
.modal-open .all {
    -webkit-filter: blur(10px);
}
/*Fixed logo in the top left, stays in that spot when page is scrolled.*/
#logo {
    position: fixed;
    color: white;
    font-size: 50px;
    font-family: "Brush Script MT"; 
    background-color: transparent;
    cursor: pointer;
}
/*Modal content background and text.*/
.modal-content {
    background-color: #0e0a1d;
    color: #c1b6ff;
}
/*The return buttons located at the bottom of each modal.*/
.modalButtons {
    font-weight: bold;
    width: 200px;
    transition: 0.3s;
}
/*Hover animation.*/
.modalButtons:hover {
    transform: scale(1.07);
}
/*Allows text to go to a new column when it reaches the bottom of a skill box.*/
.column-container {
    text-align: center;
    column-count: 2;
    column-gap: 40px;
}
/*Row 1 in languages skills.*/
#row1 {
    text-align: center;
}
/*Row 2 in languages skills.*/
#row2 {
    text-align: center;
}
/*X button in top right of modal.*/
button.close {
    color:white;
}
/*Hover animation.*/
button.close:hover {
    color:white;
}
/*Style of navbar when navbar button is clicked.*/
#navCollapse {
    text-align: center;
    background-color: #0e0a1d;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 27px;
}
/*Underline animation for links in navbar.*/
.navTitles {
    text-decoration: underline #0e0a1d;
    transition: text-decoration 1s;
    margin-left: 3rem;
    margin-right: 3rem;
    color: white !important;
}
/*Hover animation.*/
.navTitles:hover {
    text-decoration-color: white;
}
/*Navbar button that opens navbar when clicked, expands when hovered.*/
#navicon {
    transition: 0.3s;
}
/*Hover animation.*/
#navicon:hover {
    transform: scale(1.1);
}
/*Skills title header, has border animation when hovered.*/
#titleHeader4 {
    margin-top: 5rem;
    text-align: center;
    font-size: 100px;
    color: #c1b6ff;
}
/*Outer box containing all skill boxes.*/
#allSkills {
    margin-top: 70px;
    width: 1150px;
    height: 280px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
#allSkills:hover {
    transform: scale(1.03);
}
/*All 3 skill boxes which open their respective modals when clicked.*/
.skillsBoxes {
    margin-top: 5rem;
    width: 250px;
    height: 100px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation*/
.skillsBoxes:hover {
    transform: scale(1.05);
}
/*All skill headers in each skill box.*/
.skillHeaders {
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    text-align: center;
    font-size: 27px;
    color: #c1b6ff;
}
/*All open in new window icons in each skill box.*/
.skilloinwicons {
    position: relative;
    height: 40px;
    width: 40px;
}
/*Header in first skill box.*/
#skill1Header {
    margin-left: 17px;
}
/*Header in second skill box.*/
#skill2Header {
    margin-left: 17px;
}
/*Header in third skill box.*/
#skill3Header {
    margin-left: 20px;
}
/*Open in new window icon in first skill box.*/
#skillIcon1 {
    left: 23px;
    bottom: 23px;
}
/*Open in new window icon in second skill box.*/
#skillIcon2 {
    left: 33px;
    bottom: 23px;
}
/*Open in new window icon in third skill box.*/
#skillIcon3 {
    left: 40px;
    bottom: 23px;
}
/*More section title.*/
#moreTitle {
    margin-top: 4.5rem;
    margin-left: 2rem;
    text-align: center;
    font-size: 40px;
    color: #c1b6ff;
}
/*All more boxes in more section, each containing external links.*/
.moreBoxes {
    margin-top: 3.8rem;
    margin-bottom: 8.8rem;
    width: 200px;
    height: 80px;
    text-align: center;
    background-color: #0e0a1d;
    border: 4px solid rgb(12, 0, 44);
    transition: 0.3s;
}
/*Hover animation.*/
.moreBoxes:hover {
    transform: scale(1.05);
}
/*All headers in more section.*/
.moreHeaders {
    display: inline-block;
    vertical-align: middle;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    color: #c1b6ff;
}
/*All open in new window icons in more section.*/
.moreoinwicons {
    position: relative;
    height: 30px;
    width: 30px;
}
/*Header in first more box.*/
#more1Header {
    margin-left: 15px;
}
/*Header in second more box.*/
#more2Header {
    margin-left: 14px;
}
/*Header in third more box.*/
#more3Header {
    margin-left: 17px;
}
/*Open in new window icon in first more box.*/
#moreIcon1 {
    left: 24px;
    bottom: 21px;
}
/*Open in new window icon in second more box.*/
#moreIcon2 {
    left: 14px;
    bottom: 21px;
}
/*Open in new window icon in third more box.*/
#moreIcon3 {
    left: 31px;
    bottom: 21px;
}
/*Full footer at bottom.*/
.bottom {
    margin-top: 0rem;
    width: 100%;
    max-width: 1200px;
}
/*Header of footer, my name.*/
#footerHeader {
    font-size: 30px;
    color: #c1b6ff;
}
/*Description of footer, profession and email.*/
#footerDesc {
    display: inline;
    font-size: 20px;
    color: #c1b6ff;
}
/*All 5 footer buttons.*/
.footerButtons {
    float: right;
    margin-top: -1.5rem;
}
/*Resume button that accesses resume page.*/
#resume {
    margin-right: 0.3rem;
    width: 85px;
    height: 50px;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#resume:hover {
    transform: scale(1.05);
}
/*Contact button that accesses contact page.*/
#contact {
    margin-right: 0.3rem;
    width: 85px;
    height: 50px;
    background-color: black;
    border: 2px solid black;
    font-weight: bold;
    transition: 0.3s;
}
/*Hover animation.*/
#contact:hover {
    transform: scale(1.05);
}
/*GitHub button that contains link, expands when hovered.*/
#github {
    display: inline;
    margin-right: 0.3rem;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#github:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*LinkedIn button that contains link, expands when hovered.*/
#linkedin {
    display: inline;
    margin-right: 0.3rem;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#linkedin:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Discord button that contains link, expands when hovered.*/
#discord {
    display: inline;
    height: 50px;
    width: 50px;
    transition: 0.3s;
}
/*Hover animation.*/
#discord:hover {
    cursor: pointer;
    transform: scale(1.07);
}
/*Copyright claim in footer.*/
#copyright {
    width: 100%;
    border-top: 5px solid #c1b6ff;
    padding-top: 15px;
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    color: rgb(152, 152, 152);
    font-size: 10px;
}
/*Spinner that appears in the middle of screen when a button that contains a link is clicked, hidden otherwise.*/
#spinner {
    display: none;
    position: fixed;
    inset: 0;
    margin: auto;
    height: 250px;
    width: 250px;
    border-width: 15px;
}

/*Exclusive modifications to elements for screen width 992-1200.5 px.*/
@media (min-width: 992px) and (max-width: 1200.5px) {
    .navTitles {
        padding: 1.5rem;
    }
    .bottom {
        margin-top: 0rem;
        max-width: 992px;
    }
}
/*Exclusive modifications to elements for screen width 768-991.5 px.*/
@media (min-width: 768px) and (max-width: 991.5px) {
    .navTitles {
        padding: 1.5rem;
    }
    #allSkills {
        height: 350px;
    }
    .skillsBoxes {
        margin-top: 3rem;
    }
    #moreTitle {
        float: right;
        margin-right: 3rem;
    }
    #moreBox1 {
        float: left;
    }
    #moreBox2 {
        float: right;
        margin-top: -5rem;
    }
    #moreBox3 {
        float: left;
        margin-top: -5rem;
    }
    #footerHeader {
        font-size: 25px;
    }
    #footerDesc {
        font-size: 16px;
    }
    #resume {
        height: 40px;
        width: 70px;
        padding-left: 4px;
    }
    #contact {
        height: 40px;
        width: 70px;
        padding-left: 4px;
    }
    #github {
        height: 40px;
        width: 40px;
    }
    #linkedin {
        height: 40px;
        width: 40px;
    }
    #discord {
        height: 40px;
        width: 40px;
    }
    .footerButtons {
        margin-top: -1rem;
    }
}
/*Exclusive modifications to elements for screen width 830 px.*/
@media (max-width: 830px) {
    .navTitles {
        padding: 0rem;
    }
}
/*Exclusive modifications to elements for screen width 576-767.5 px.*/
@media (min-width: 576px) and (max-width: 767.5px) {
    #titleHeader4 {
        font-size: 90px;
    }
    #allSkills {
        height: 440px;
    }
    .skillsBoxes {
        margin-top: 2rem;
    }
    #moreTitle {
        margin-left: 0rem;
    }
    .moreBoxes {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    #moreBox3 {
        margin-bottom: 5rem;
    }
    #footerDesc {
        display: block;
        font-size: 20px;
        color: #c1b6ff;
    }
    .footerButtons {
        display: inline;
        float: none;
        margin: auto;
    }
    #resume {
        margin-right: 0rem;
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #contact {
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #github {
        height: 40px;
        width: 40px;
    }
    #linkedin {
        height: 40px;
        width: 40px;
    }
    #discord {
        margin-right: 0.3rem;
        height: 40px;
        width: 40px;
    }
    #copyright {
        width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
}
/*Exclusive modifications to elements for screen width 685 px.*/
@media (max-width: 685px) {
    .navTitles {
        padding: 6.9rem;
    }
}
/*Exclusive modifications to elements for screen width 575.5 px or less.*/
@media (max-width: 575.5px) {
    #titleHeader4 {
        font-size: 80px;
    }
    #allSkills {
        width: 400px;
        height: 480px;
    }
    .skillsBoxes {
        margin-top: 2.7rem;
    }
    #moreTitle {
        margin-left: 0rem;
    }
    .moreBoxes {
        margin-top: 2rem;
        margin-bottom: 0rem;
    }
    #moreBox3 {
        margin-bottom: 5rem;
    }
    #footerDesc {
        display: block;
        font-size: 20px;
        color: #c1b6ff;
    }
    .footerButtons {
        display: inline;
        float: none;
        margin: auto;
    }
    #resume {
        margin-right: 0rem;
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #contact {
        width: 70px;
        height: 40px;
        padding-left: 4px;
    }
    #github {
        height: 40px;
        width: 40px;
    }
    #linkedin {
        height: 40px;
        width: 40px;
    }
    #discord {
        margin-right: 0.3rem;
        height: 40px;
        width: 40px;
    }
    #copyright {
        width: 90%;
        margin: auto;
        margin-top: 0.5rem;
        margin-bottom: 3rem;
    }
}
/*Exclusive modifications to elements for screen width 495 px.*/
@media (max-width: 495px) {
    .navTitles {
        padding: 3rem;
    }
}
/*Exclusive modifications to elements for screen width 450 px.*/
@media (max-width: 450px) {
    #allSkills {
        width: 300px;
    }
    #moreTitle {
        margin-top: 3.5rem;
    }
}
/*Exclusive modifications to elements for screen width 370 px.*/
@media (max-width: 370px) {
    .navTitles {
        padding: 0.4rem;
    }
}
