/*Border animation for all containers.*/
@keyframes fadeBorder {
    from { border-color: rgb(12, 0, 44); }
    to { border-color: rgb(18, 0, 137); }
}
@keyframes fadeBorder2 {
    from { border-color: rgb(18, 0, 137); }
    to { border-color: rgb(54, 0, 230); }
}
@keyframes fadeBorder3 {
    from { border-color: rgb(12, 0, 44); }
    to { border-color: #c1b6ff; }
}
@keyframes fadeBorder4 {
    from { border-color: rgb(102, 88, 143); }
    to { border-color: #d7d0ff; }
}
/*Calls fadeBorder animation for all containers with standard class when hovered.*/
.standard:hover {
    animation: fadeBorder 0.3s ease;
    border-color: rgb(18, 0, 137) !important;
}
.slideshow:hover {
    animation: fadeBorder2 0.3s ease;
    border-color: rgb(18, 0, 137) !important;
}
.secondary:hover {
    animation: fadeBorder3 0.3s ease;
    border-color: #c1b6ff !important;
}
#idCard:hover {
    animation: fadeBorder4 0.3s ease;
    border-color: #d7d0ff !important;
}
/*Border animation for main title 1, home page title header.*/
/*Defines positioning for each line.*/
/*
#titleHeader1 span {
    position: absolute;
}
#titleHeader1 span:nth-child(1), #titleHeader1 span:nth-child(3) {
    width: 90%;
    height: 1px;
    background: white;
}
#titleHeader1 span:nth-child(1) {
    top: 20px;
    left: 40px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader1:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader1 span:nth-child(3) {
    top: 112px;
    left: 40px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader1:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader1 span:nth-child(2), #titleHeader1 span:nth-child(4) {
    width: 1px;
    height: 9.9%;
    background: white;
}
#titleHeader1 span:nth-child(2) {
    top: 20px;
    right: 35px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader1:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader1 span:nth-child(4) {
    top: 20px;
    left: 40px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader1:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#titleHeader2 span {
    position: absolute;
}
#titleHeader2 span:nth-child(1), #titleHeader2 span:nth-child(3) {
    width: 31.3%;
    height: 1px;
    background: white;
}
#titleHeader2 span:nth-child(1) {
    top: 70px;
    left: 195px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader2:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader2 span:nth-child(3) {
    top: 170px;
    left: 195px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader2:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader2 span:nth-child(2), #titleHeader2 span:nth-child(4) {
    width: 1px;
    height: 13.9%;
    background: white;
}
#titleHeader2 span:nth-child(2) {
    top: 70px;
    right: 849px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader2:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader2 span:nth-child(4) {
    top: 70px;
    left: 195px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader2:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#titleHeader3 span {
    position: absolute;
}
#titleHeader3 span:nth-child(1), #titleHeader3 span:nth-child(3) {
    width: 27%;
    height: 1px;
    background: white;
}
#titleHeader3 span:nth-child(1) {
    top: 70px;
    left: 555px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader3:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader3 span:nth-child(3) {
    top: 170px;
    left: 555px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader3:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader3 span:nth-child(2), #titleHeader3 span:nth-child(4) {
    width: 1px;
    height: 13.9%;
    background: white;
}
#titleHeader3 span:nth-child(2) {
    top: 70px;
    right: 555px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader3:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader3 span:nth-child(4) {
    top: 70px;
    left: 555px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader3:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#titleHeader4 span {
    position: absolute;
}
#titleHeader4 span:nth-child(1), #titleHeader4 span:nth-child(3) {
    width: 21%;
    height: 1px;
    background: white;
}
#titleHeader4 span:nth-child(1) {
    top: 70px;
    left: 593px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader4:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader4 span:nth-child(3) {
    top: 170px;
    left: 593px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader4:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader4 span:nth-child(2), #titleHeader4 span:nth-child(4) {
    width: 1px;
    height: 13.9%;
    background: white;
}
#titleHeader4 span:nth-child(2) {
    top: 70px;
    right: 608px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader4:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader4 span:nth-child(4) {
    top: 70px;
    left: 592.9px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader4:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#titleHeader5 span {
    position: absolute;
}
#titleHeader5 span:nth-child(1), #titleHeader5 span:nth-child(3) {
    width: 51.5%;
    height: 1px;
    background: white;
}
#titleHeader5 span:nth-child(1) {
    top: 70px;
    left: 367px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader5:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader5 span:nth-child(3) {
    top: 192px;
    left: 367px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader5:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader5 span:nth-child(2), #titleHeader5 span:nth-child(4) {
    width: 1px;
    height: 16.8%;
    background: white;
}
#titleHeader5 span:nth-child(2) {
    top: 70px;
    right: 370.5px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader5:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader5 span:nth-child(4) {
    top: 70px;
    left: 367px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader5:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title1 span {
    position: absolute;
}
#title1 span:nth-child(1), #title1 span:nth-child(3) {
    width: 56%;
    height: 1px;
    background: white;
}
#title1 span:nth-child(1) {
    top: 128px;
    left: 167px;
    transform-origin: left;
    transform: scaleX(0);
}
#title1:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title1 span:nth-child(3) {
    top: 160px;
    left: 167px;
    transform-origin: right;
    transform: scaleX(0);
}
#title1:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title1 span:nth-child(2), #title1 span:nth-child(4) {
    width: 1px;
    height: 3.5%;
    background: white;
}
#title1 span:nth-child(2) {
    top: 128px;
    right: 167px;
    transform-origin: top;
    transform: scaleY(0);
}
#title1:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title1 span:nth-child(4) {
    top: 128px;
    left: 167px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title1:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title2 span {
    position: absolute;
}
#title2 span:nth-child(1), #title2 span:nth-child(3) {
    width: 46%;
    height: 1px;
    background: white;
}
#title2 span:nth-child(1) {
    top: 172px;
    left: 207px;
    transform-origin: left;
    transform: scaleX(0);
}
#title2:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title2 span:nth-child(3) {
    top: 206px;
    left: 207px;
    transform-origin: right;
    transform: scaleX(0);
}
#title2:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title2 span:nth-child(2), #title2 span:nth-child(4) {
    width: 1px;
    height: 3.7%;
    background: white;
}
#title2 span:nth-child(2) {
    top: 172px;
    right: 203px;
    transform-origin: top;
    transform: scaleY(0);
}
#title2:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title2 span:nth-child(4) {
    top: 172px;
    left: 206px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title2:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title3 span {
    position: absolute;
}
#title3 span:nth-child(1), #title3 span:nth-child(3) {
    width: 58%;
    height: 1px;
    background: white;
}
#title3 span:nth-child(1) {
    top: 216px;
    left: 158px;
    transform-origin: left;
    transform: scaleX(0);
}
#title3:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title3 span:nth-child(3) {
    top: 252px;
    left: 158.8px;
    transform-origin: right;
    transform: scaleX(0);
}
#title3:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title3 span:nth-child(2), #title3 span:nth-child(4) {
    width: 1px;
    height: 3.9%;
    background: white;
}
#title3 span:nth-child(2) {
    top: 216px;
    right: 160px;
    transform-origin: top;
    transform: scaleY(0);
}
#title3:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title3 span:nth-child(4) {
    top: 216px;
    left: 158px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title3:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title4 span {
    position: absolute;
}
#title4 span:nth-child(1), #title4 span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: white;
}
#title4 span:nth-child(1) {
    top: 0;
    left: 0px;
    transform-origin: left;
    transform: scaleX(0);
}
#title4:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title4 span:nth-child(3) {
    top: 28px;
    left: 0px;
    transform-origin: right;
    transform: scaleX(0);
}
#title4:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title4 span:nth-child(2), #title4 span:nth-child(4) {
    width: 1px;
    height: 116%;
    background: white;
}
#title4 span:nth-child(2) {
    top: 0;
    right: -0.5px;
    transform-origin: top;
    transform: scaleY(0);
}
#title4:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title4 span:nth-child(4) {
    top: 0;
    left: -1px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title4:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title5 span {
    position: absolute;
}
#title5 span:nth-child(1), #title5 span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: white;
}
#title5 span:nth-child(1) {
    top: 0;
    left: 0px;
    transform-origin: left;
    transform: scaleX(0);
}
#title5:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title5 span:nth-child(3) {
    top: 27.5px;
    left: 0px;
    transform-origin: right;
    transform: scaleX(0);
}
#title5:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title5 span:nth-child(2), #title5 span:nth-child(4) {
    width: 1px;
    height: 116%;
    background: white;
}
#title5 span:nth-child(2) {
    top: 0;
    right: 0px;
    transform-origin: top;
    transform: scaleY(0);
}
#title5:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title5 span:nth-child(4) {
    top: 0;
    left: 0px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title5:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title6 span {
    position: absolute;
}
#title6 span:nth-child(1), #title6 span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: white;
}
#title6 span:nth-child(1) {
    top: -1px;
    left: 0px;
    transform-origin: left;
    transform: scaleX(0);
}
#title6:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title6 span:nth-child(3) {
    top: 50px;
    left: 0px;
    transform-origin: right;
    transform: scaleX(0);
}
#title6:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title6 span:nth-child(2), #title6 span:nth-child(4) {
    width: 1px;
    height: 105%;
    background: white;
}
#title6 span:nth-child(2) {
    top: 0px;
    right: -0.5px;
    transform-origin: top;
    transform: scaleY(0);
}
#title6:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title6 span:nth-child(4) {
    top: 0px;
    left: 0px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title6:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
#title7 span {
    position: absolute;
}
#title7 span:nth-child(1), #title7 span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: white;
}
#title7 span:nth-child(1) {
    top: -1px;
    left: 0px;
    transform-origin: left;
    transform: scaleX(0);
}
#title7:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title7 span:nth-child(3) {
    top: 27px;
    left: 0px;
    transform-origin: right;
    transform: scaleX(0);
}
#title7:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title7 span:nth-child(2), #title7 span:nth-child(4) {
    width: 1px;
    height: 112%;
    background: white;
}
#title7 span:nth-child(2) {
    top: 0px;
    right: 0px;
    transform-origin: top;
    transform: scaleY(0);
}
#title7:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title7 span:nth-child(4) {
    top: 0px;
    left: -0.5px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title7:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}*/