/*Border animation for all containers.*/
@keyframes fadeBorder {
    from { border-color: rgb(35, 0, 44); }
    to { border-color: rgb(110, 0, 137); }
}
@keyframes fadeBorder2 {
    from { border-color: rgb(110, 0, 137); }
    to { border-color: rgb(184, 0, 230); }
}
/*Calls fadeBorder animation for all containers with standard class when hovered.*/
.standard:hover {
    animation: fadeBorder 0.3s ease;
    border-color: rgb(110, 0, 137) !important;
}
.slideshow:hover {
    animation: fadeBorder2 0.3s ease;
    border-color: rgb(184, 0, 230) !important;
}
/*Border animation for main title 1, home page title header.*/
/*Defines positioning for each line.*/
#titleHeader1 span {
    position: absolute;
}
/*Defines the two horizontal lines of this text, how far they will go.*/
#titleHeader1 span:nth-child(1), #titleHeader1 span:nth-child(3) {
    width: 90%;
    height: 1px;
    background: white;
}
/*Defines the top line's location and transformation.*/
#titleHeader1 span:nth-child(1) {
    top: 20px;
    left: 40px;
    transform-origin: left;
    transform: scaleX(0);
}
/*Hover animation for top line.*/
#titleHeader1:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
/*Defines the bottom line's location and transformation.*/
#titleHeader1 span:nth-child(3) {
    top: 110px;
    left: 40px;
    transform-origin: right;
    transform: scaleX(0);
}
/*Hover animation for bottom line.*/
#titleHeader1:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
/*Defines the two vertical lines of this text, how far they will go.*/
#titleHeader1 span:nth-child(2), #titleHeader1 span:nth-child(4) {
    width: 1px;
    height: 9.9%;
    background: white;
}
/*Defines the right line's location and transformation.*/
#titleHeader1 span:nth-child(2) {
    top: 20px;
    right: 35px;
    transform-origin: top;
    transform: scaleY(0);
}
/*Hover animation for right line.*/
#titleHeader1:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
/*Defines the left line's location and transformation.*/
#titleHeader1 span:nth-child(4) {
    top: 20px;
    left: 40px;
    transform-origin: bottom;
    transform: scaleY(0);
}
/*Hover animation for left line.*/
#titleHeader1:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Same functionality across all border animations in this CSS file.*/
/*Border animation for main title 2, about me title header.*/
#titleHeader2 span {
    position: absolute;
}
#titleHeader2 span:nth-child(1), #titleHeader2 span:nth-child(3) {
    width: 31.3%;
    height: 1px;
    background: white;
}
#titleHeader2 span:nth-child(1) {
    top: 70px;
    left: 193px;
    transform-origin: left;
    transform: scaleX(0);
}
#titleHeader2:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#titleHeader2 span:nth-child(3) {
    top: 170px;
    left: 193px;
    transform-origin: right;
    transform: scaleX(0);
}
#titleHeader2:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#titleHeader2 span:nth-child(2), #titleHeader2 span:nth-child(4) {
    width: 1px;
    height: 13.9%;
    background: white;
}
#titleHeader2 span:nth-child(2) {
    top: 70px;
    right: 850.5px;
    transform-origin: top;
    transform: scaleY(0);
}
#titleHeader2:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#titleHeader2 span:nth-child(4) {
    top: 70px;
    left: 192px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#titleHeader2:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation for title 1, first sub-title of home page.*/
#title1 span {
    position: absolute;
}
#title1 span:nth-child(1), #title1 span:nth-child(3) {
    width: 56%;
    height: 1px;
    background: white;
}
#title1 span:nth-child(1) {
    top: 130px;
    left: 167px;
    transform-origin: left;
    transform: scaleX(0);
}
#title1:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title1 span:nth-child(3) {
    top: 162px;
    left: 167px;
    transform-origin: right;
    transform: scaleX(0);
}
#title1:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title1 span:nth-child(2), #title1 span:nth-child(4) {
    width: 1px;
    height: 3.5%;
    background: white;
}
#title1 span:nth-child(2) {
    top: 130px;
    right: 167px;
    transform-origin: top;
    transform: scaleY(0);
}
#title1:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title1 span:nth-child(4) {
    top: 130px;
    left: 167px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title1:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation for title 2, second sub-title of home page.*/
#title2 span {
    position: absolute;
}
#title2 span:nth-child(1), #title2 span:nth-child(3) {
    width: 46%;
    height: 1px;
    background: white;
}
#title2 span:nth-child(1) {
    top: 174px;
    left: 207px;
    transform-origin: left;
    transform: scaleX(0);
}
#title2:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title2 span:nth-child(3) {
    top: 207.5px;
    left: 207px;
    transform-origin: right;
    transform: scaleX(0);
}
#title2:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title2 span:nth-child(2), #title2 span:nth-child(4) {
    width: 1px;
    height: 3.7%;
    background: white;
}
#title2 span:nth-child(2) {
    top: 174px;
    right: 203px;
    transform-origin: top;
    transform: scaleY(0);
}
#title2:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title2 span:nth-child(4) {
    top: 174px;
    left: 206px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title2:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation for title 3, third sub-title of home page.*/
#title3 span {
    position: absolute;
}
#title3 span:nth-child(1), #title3 span:nth-child(3) {
    width: 58%;
    height: 1px;
    background: white;
}
#title3 span:nth-child(1) {
    top: 220px;
    left: 158px;
    transform-origin: left;
    transform: scaleX(0);
}
#title3:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title3 span:nth-child(3) {
    top: 255.5px;
    left: 158.8px;
    transform-origin: right;
    transform: scaleX(0);
}
#title3:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title3 span:nth-child(2), #title3 span:nth-child(4) {
    width: 1px;
    height: 3.9%;
    background: white;
}
#title3 span:nth-child(2) {
    top: 220px;
    right: 160px;
    transform-origin: top;
    transform: scaleY(0);
}
#title3:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title3 span:nth-child(4) {
    top: 220px;
    left: 158px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title3:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation around title 4, first sub-title of about me page.*/
#title4 span {
    position: absolute;
}
#title4 span:nth-child(1), #title4 span:nth-child(3) {
    width: 85%;
    height: 1px;
    background: white;
}
#title4 span:nth-child(1) {
    top: 0;
    left: 30px;
    transform-origin: left;
    transform: scaleX(0);
}
#title4:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title4 span:nth-child(3) {
    top: 27px;
    left: 30px;
    transform-origin: right;
    transform: scaleX(0);
}
#title4:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title4 span:nth-child(2), #title4 span:nth-child(4) {
    width: 1px;
    height: 116%;
    background: white;
}
#title4 span:nth-child(2) {
    top: 0;
    right: 31px;
    transform-origin: top;
    transform: scaleY(0);
}
#title4:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title4 span:nth-child(4) {
    top: 0;
    left: 29px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title4:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation around title 5, second sub-title of about me page.*/
#title5 span {
    position: absolute;
}
#title5 span:nth-child(1), #title5 span:nth-child(3) {
    width: 80.5%;
    height: 1px;
    background: white;
}
#title5 span:nth-child(1) {
    top: 0;
    left: 40px;
    transform-origin: left;
    transform: scaleX(0);
}
#title5:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title5 span:nth-child(3) {
    top: 27.5px;
    left: 40px;
    transform-origin: right;
    transform: scaleX(0);
}
#title5:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title5 span:nth-child(2), #title5 span:nth-child(4) {
    width: 1px;
    height: 116%;
    background: white;
}
#title5 span:nth-child(2) {
    top: 0;
    right: 40px;
    transform-origin: top;
    transform: scaleY(0);
}
#title5:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title5 span:nth-child(4) {
    top: 0;
    left: 40px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title5:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation around title 6, third sub-title of about me page.*/
#title6 span {
    position: absolute;
}
#title6 span:nth-child(1), #title6 span:nth-child(3) {
    width: 91.2%;
    height: 1px;
    background: white;
}
#title6 span:nth-child(1) {
    top: -1px;
    left: 18px;
    transform-origin: left;
    transform: scaleX(0);
}
#title6:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title6 span:nth-child(3) {
    top: 28.5px;
    left: 18px;
    transform-origin: right;
    transform: scaleX(0);
}
#title6:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title6 span:nth-child(2), #title6 span:nth-child(4) {
    width: 1px;
    height: 118%;
    background: white;
}
#title6 span:nth-child(2) {
    top: 0px;
    right: 18px;
    transform-origin: top;
    transform: scaleY(0);
}
#title6:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title6 span:nth-child(4) {
    top: 0px;
    left: 17.5px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title6:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}
/*Border animation around title 7, fourth sub-title of about me page.*/
#title7 span {
    position: absolute;
}
#title7 span:nth-child(1), #title7 span:nth-child(3) {
    width: 83%;
    height: 1px;
    background: white;
}
#title7 span:nth-child(1) {
    top: -1px;
    left: 35px;
    transform-origin: left;
    transform: scaleX(0);
}
#title7:hover span:nth-child(1) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0s;
}
#title7 span:nth-child(3) {
    top: 52.5px;
    left: 35px;
    transform-origin: right;
    transform: scaleX(0);
}
#title7:hover span:nth-child(3) {
    transform: scaleX(1);
    transition: 0.2s;
    transition-delay: 0.4s;
}
#title7 span:nth-child(2), #title7 span:nth-child(4) {
    width: 1px;
    height: 112%;
    background: white;
}
#title7 span:nth-child(2) {
    top: 0px;
    right: 35px;
    transform-origin: top;
    transform: scaleY(0);
}
#title7:hover span:nth-child(2) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.2s;
}
#title7 span:nth-child(4) {
    top: 0px;
    left: 35px;
    transform-origin: bottom;
    transform: scaleY(0);
}
#title7:hover span:nth-child(4) {
    transform: scaleY(1);
    transition: 0.2s;
    transition-delay: 0.6s;
}